.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.header{
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.block__place_header{
  /*border: 2px solid red;*/
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title{
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  /*border: 1px solid red;*/
  max-width: 730px;
  max-height: 192px;
  margin: 0 0 0 64px;
  align-self: center;
}

.header__subtitle{
  position: absolute;
  bottom:30px;
  left: 64px;
  z-index: 1;
  /*border: 1px solid red;*/
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__main-illustration{
  object-fit: contain;
  max-width: 765px;
  max-height: 608px;
  position: absolute;
  bottom:0;
  right: 0;
  /*border: 1px solid green;*/
  z-index: 1;
}

.header__square-pic{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;  
  position: absolute;
  z-index: 0;
  right:0;
  align-self: center;
}

.description{
  display: flex;
}

.description__two-columns{
  display: flex;
  width: 80%;
  min-width: 784px;
  margin: 100px auto;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  margin-left: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text{
  min-width: 784px;
  margin-right: 0;
  width: 80%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph{
  margin-bottom: 30px;
  margin-top:0;
}

.two-columns__paragraph:last-of-type{
  margin-bottom: 0;
  margin-top: 30px;
}

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom:100px;
}

.digits__section-title{
  margin: 0 auto 20px;
  padding: 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  
}

.digits__section-subtitle{
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  
  margin: 0;
}



.digits__table{
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.digits__cell{
  margin-top:60px;
  width: 250px;

}

.cell__heading{
  font-size: 24px;
  font-weight: bolder;
  line-height: 1.15;
  margin-top:0;
  margin-bottom: 20px;
}

.cell_text{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.cell__cite{
  margin: 20px 0 0;
}

.feynman{
  display: flex;
  height: 890px;
  background-image: url(../images/feynman.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
  margin-top: 100px;
  flex-direction: column;
  
  border: 1px solid red;
}

.feynman__title{
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  width: 648px;
  text-align: center;
  margin: 100px auto 0;
}

.feynman__subtitle{
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 70px auto 0;
  
  
  
}

.feynman__link{
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  top: 50%;
  right: 48px;
  
}




div{
  /*order: 1px solid green;*/
}


